
            <div id="my-data" class="row clearfix">
                <div class="col-xs-4">
                    <div class="card">
                        <div class="header">
                            <h2>CATEGORIES
								<Button onclick="location='/category-form/create/0'" type="button" class="btn btn-primary pull-right">ADD CATEGORY</Button>
							</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="category" class="table table-hover dashboard-task-infos display">
                                    <thead>
                                        <tr>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                            <th>CATEGORY</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{% for category in categories %}  
										<tr onclick="getSubCategories('{{category.id}}');">  
											<td>
												<a href="/category-form/edit/{{category.id}}">
													<i class="material-icons col-blue prefix">edit</i>
												</a>
											</td>
											<td>
												<a href="/delete/category/{{category.id}}">
													<i class="material-icons col-blue prefix">delete</i>
												</a>
											</td>
											<td>{{ category.category }}</td>
										</tr>  
									{% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Task Info -->
                <div class="col-xs-4">
                    <div class="card">
                        <div class="header">
                            <h2>SUB CATEGORIES
								<Button onclick="location='/sub-category-form/create/0'" type="button" class="btn btn-primary pull-right">ADD SUB CATEGORY</Button>
							</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="sub-category" class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Sub Category</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- #END# Task Info -->
            </div>